html{
    height: 100%;
}

body{
    padding-top: 50px;
    background: whitesmoke;
}

.display-box{
    background-color:           rgba(21, 65, 110, 1);
    margin-top:                 100px;
    padding-top:                25px;
    padding-bottom:             50px;
    padding-left: 		60px;
    padding-right: 		60px;
    border-radius: 		10px;
}

.content-box{
    background-color:           rgba(21, 65, 110, 1);
    margin-left:                -8px;
    margin-right:               -8px;
    margin-top:                 10px;
    padding-top:                25px;
    padding-bottom:             25px;
    padding-left: 		25px;
    padding-right: 		25px;
    border-radius: 		10px;
    color:                      rgb(253, 212, 6);
}

.form-margin{
    margin-top:                 10px;
}

.cs-button{
    background-color:           rgb(253, 212, 6);
    color:                      black;
}

.gold-text{
    color:                      rgb(253, 212, 6);
}

.white-text{
    color:                      white;
}

.ui-growl{
    padding-top:50px;
}

