
.colorPanel .ui-panel-titlebar {
    background-color: #337ab7;
}
.colorTable .ui-panel-titlebar{
    background-color: #feda00;
}
.imageStyle{
    background-image: url(/sdd-project/resources/images/background.jpg);
}
.ui-datatable-frozenlayout-left {
    width:20%;
}

.ui-datatable-frozenlayout-right {
    width:80%;
}